<mat-toolbar class="app-toolbar" color="primary">
    <a [routerLink]="['/categories']" mat-button color="secondary"><i class="material-icons">arrow_back</i></a>
    <span class="fill-space"></span>
    Neue Kategorie
    <span class="fill-space"></span>
    <a disabled="true" mat-button></a>
</mat-toolbar>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput name="name" required minlength="4" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Budget</mat-label>
        <input matInput type="number" name="budget" min="0.01" ngModel>
    </mat-form-field>
    <div class="fab-container">
        <button mat-fab color="primary" [disabled]="f.invalid" type="submit">
            <i class="material-icons">check</i>
        </button>
    </div>
</form>